@import url("https://fonts.googleapis.com/css?family=Montserrat|Secular+One");

//variables

$darkgrey: #565264;
$blue: #5cc8ff;
$mint: #85ffc7;
$green: #5efc8d;
$yellow: #f4e76e;

$fontmain: "Secular One", sans-serif;
$fontpar: "Montserrat", sans-serif;

@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

//styling

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

main {
  position: relative;
  margin: 0;
  min-height: 100%;
  height: auto;
  background-color: $darkgrey;
  color: white;
  font-family: $fontmain;

  h1 {
    margin: 0;
    color: $mint;
    text-align: right;
    padding: 1.5em 3em;
    font-size: 2.5em;
  }
}

.svg--timeline {
  position: absolute;
  left: 300px;
  width: 18px;
  height: 1932px;
  margin-top: 3.1em;
  margin-bottom: 3em;
}

#timeline {
  width: 5px;
}

#movingcircle {
  transition: transform 1s;
  // transform: translateY(100px);
}

.div--wrapper {
  max-width: 100%;
  height: auto;
  margin-left: 150px;
  padding-bottom: 5em;
}

.article--phone {
  display: grid;
  grid-template-columns: minmax(max-content, 10em) 5fr;
  grid-template-rows: minmax(100px, max-content);
  grid-column-gap: 2em;
  margin-bottom: 4em;
}

.p--year {
  grid-column: 1;
  font-size: 2em;
  @include flexCenter();
  cursor: pointer;
  //animation on this element
}

.div--data {
  position: relative;
  margin: auto 0;
  //animation on this element
}

.phone--circle {
  position: relative;
  @include flexCenter();
  height: 90px;
  width: 90px;
  margin: 0 0.5em;
  background-color: white;
  border-radius: 50%;
  border: 3px solid;
  border-color: $mint; //replaceable
  z-index: 5;

  img {
    object-fit: contain;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 75%;
  }
}

.phone--description {
  position: absolute;
  top: 0;
  left: 53px;
  height: 90px;
  width: 0;
  background-color: $mint;
  padding-left: 0; //animate
  z-index: 1;

  h2 {
    font-size: 1em;
    margin-bottom: 10px;
    color: black;
    opacity: 0; //animate
  }

  p {
    font-family: $fontpar;
    font-size: 0.6em;
    margin: 0;
    padding-right: 1em;
    color: black;
    opacity: 0; //animate
  }
}

.selected--year {
  //add to article

  .p--year {
    animation: scaleAnimation 1s linear forwards;
  }

  .div--data {
    animation: dataAnimation 1s linear forwards;
  }

  .phone--description {
    animation: showDescription 1s linear forwards;

    h2 {
      animation: showText 0.5s ease-in forwards 0.7s;
    }

    p {
      animation: showText 0.5s ease-in forwards 0.7s;
    }
  }
}

@keyframes scaleAnimation {
  100% {
    transform: scale(1.5);
  }
}

@keyframes dataAnimation {
  100% {
    transform: scale(1.5) translateX(400px);
  }
}

@keyframes showDescription {
  100% {
    width: 21em;
    padding-left: 80px;
  }
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}
