@import url("https://fonts.googleapis.com/css?family=Montserrat|Secular+One");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

main {
  position: relative;
  margin: 0;
  min-height: 100%;
  height: auto;
  background-color: #565264;
  color: white;
  font-family: "Secular One", sans-serif;
  overflow-x: hidden;
}

main h1 {
  margin: 0;
  color: #85ffc7;
  text-align: center;
  padding: 1.5em 3em;
  font-size: 2.5em;
  font-weight: 400;
}

.svg--timeline {
  position: absolute;
  left: 400px;
  width: 18px;
  height: 1932px;
  margin-top: 3.1em;
  margin-bottom: 3em;
}

#timeline {
  width: 5px;
}

#movingcircle {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.div--wrapper {
  max-width: 100%;
  height: auto;
  margin-left: 250px;
  padding-bottom: 5em;
}

.article--phone {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(max-content, 10em) 5fr;
      grid-template-columns: minmax(-webkit-max-content, 10em) 5fr;
      grid-template-columns: minmax(max-content, 10em) 5fr;
  -ms-grid-rows: minmax(100px, max-content);
      grid-template-rows: minmax(100px, -webkit-max-content);
      grid-template-rows: minmax(100px, max-content);
  grid-column-gap: 2em;
  margin-bottom: 4em;
}

.p--year {
  -ms-grid-column: 1;
  grid-column: 1;
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.div--data {
  position: relative;
  margin: auto 0;
}

.phone--circle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  width: 90px;
  margin: 0 0.5em;
  background-color: white;
  border-radius: 50%;
  border: 3px solid;
  border-color: #85ffc7;
  z-index: 5;
}

.phone--circle img {
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 75%;
}

.phone--description {
  position: absolute;
  top: 0;
  left: 53px;
  height: 90px;
  width: 0;
  background-color: #85ffc7;
  padding-left: 0;
  z-index: 1;
}

.phone--description h2 {
  font-size: 1em;
  margin-bottom: 10px;
  color: black;
  opacity: 0;
}

.phone--description p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.6em;
  margin: 0;
  padding-right: 1em;
  color: black;
  opacity: 0;
}

.selected--year .p--year {
  -webkit-animation: scaleAnimation 1s linear forwards;
          animation: scaleAnimation 1s linear forwards;
}

.selected--year .div--data {
  -webkit-animation: dataAnimation 1s linear forwards;
          animation: dataAnimation 1s linear forwards;
}

.selected--year .phone--description {
  -webkit-animation: showDescription 1s linear forwards;
          animation: showDescription 1s linear forwards;
}

.selected--year .phone--description h2 {
  -webkit-animation: showText 0.5s ease-in forwards 0.7s;
          animation: showText 0.5s ease-in forwards 0.7s;
}

.selected--year .phone--description p {
  -webkit-animation: showText 0.5s ease-in forwards 0.7s;
          animation: showText 0.5s ease-in forwards 0.7s;
}

@-webkit-keyframes scaleAnimation {
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes scaleAnimation {
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes dataAnimation {
  100% {
    -webkit-transform: scale(1.7) translateX(400px);
            transform: scale(1.7) translateX(400px);
  }
}

@keyframes dataAnimation {
  100% {
    -webkit-transform: scale(1.7) translateX(400px);
            transform: scale(1.7) translateX(400px);
  }
}

@-webkit-keyframes showDescription {
  100% {
    width: 21em;
    padding-left: 80px;
  }
}

@keyframes showDescription {
  100% {
    width: 21em;
    padding-left: 80px;
  }
}

@-webkit-keyframes showText {
  100% {
    opacity: 1;
  }
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */